# Built application files
*.apk
*.aab
*.dex
*.class
bin/
gen/
out/
build/
**/build/
.gradle/
local.properties
*.log
.idea/
*.iml
captures/
navigation.json
*.jks
*.keystore
keystore.properties
.kotlin/
.DS_Store
**/.DS_Store
.claude
webar/node_modules/
